h3 Profile

.row
  .col-xs-4
    .form-group
      label(for='email') Email
      input#email.form-control(type='text' ng-model='user.email')
    .form-group
      label(for='avatar') Avatar
      input#avatar.form-control(type='url' ng-model='user.avatar')
    .form-group
      button.form-control.btn.btn-info(type='url' ng-click='update(user)') Update
